:root {
  --primary-color: #f8ecd6;
  --secondary-color: #187e5f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clients__view {
  background-color: var(--secondary-color);
  width: 100vw;
  height: 100vh;
  padding: 4rem 0;
  filter: ;
}

.clients__view .condition {
  display: none;
  color: var(--primary-color);
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 3rem;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

.client__content {
  padding: 3rem 0;
  border-radius: 10px;
  width: 100%;
  display: grid;
  height: 90vh;
  overflow: hidden;
  background-color: var(--primary-color);
  grid-template-columns: 1fr 2fr 1fr;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.client__content .down_arrow > * {
  position: absolute;
  font-size: 2rem;
  fill: var(--secondary-color);
  left: 15%;
  bottom: 1.3rem;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .client__content {
    display: none;
  }
  .clients__view .condition {
    display: block;
  }
}
